@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px;
  margin :0px;
  box-sizing: border-box;
}

.cart {
  top: 4px;
  background: gray;
  font-size: 11px;
  border-radius: 100px;
  width: 17px;
  height: 17px;
  line-height: 16px;
  right: 223px;
  padding-left: 1px;
}